{# templates/informations.html.twig #}

<!DOCTYPE html>
<html>
<head>
    <title>Informations Clients</title>
</head>
<body>
    <h1>Informations Clients</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Email</th>
                <th>Téléphone</th>
                <!-- Ajoutez d'autres colonnes au besoin -->
            </tr>
        </thead>
        <tbody>
            {% for client in clients %}
            <tr>
                <td>{{ client.id }}</td>
                <td>{{ client.nom }}</td>
                <td>{{ client.email }}</td>
                <td>{{ client.telephone }}</td>
                <!-- Ajoutez d'autres colonnes au besoin -->
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
