{% include 'navbar.html.twig' %} 
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mon panier</title>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center align-items-center" style="height: 30vh;">
            <div class="col-md-8">
                <div class="table-container">
                    <h1 class="text-center mb-4">Liste d'envies</h1>
                    <table class="table table-striped">
                        <thead class="thead-dark">
                            <tr>
                                
                                <th scope="col">Nom</th>
                                <th scope="col">Prix</th>
                              
                                
                              
                            </tr>
                        </thead>
                        <tbody>
                            {% for listedenvies in listedenvies %}
                            <tr>
                               
                                <td>{{ listedenvies.getIdProduit().getNom() }} </td> 
                                <td>{{ listedenvies.getIdProduit().getprix()}} € </td> 
                                
                                
                               
                                
           
                                
                            </tr>

                            

                            
                            {% endfor %}
                        </tbody>

                        <tr>
                           
                        </tr>
                        
                    </table>
                </div>
            </div>
        </div>
    </div>
  
</body>
</html>
