{% include 'navbar.html.twig' %} 
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mon panier</title>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center align-items-center" style="height: 30vh;">
            <div class="col-md-8">
                <div class="table-container">
                    <h1 class="text-center mb-4">Panier</h1>
                    <table class="table table-striped">
                        <thead class="thead-dark">
                            <tr>
                                
                                <th scope="col">Produit</th>
                                <th scope="col">Quantite</th>
                                <th scope="col">Prix ( Remise 10 %  ) </th>
                              
                            </tr>
                        </thead>
                        <tbody>
                            {% for panier in panier %}
                            <tr>
                               
                                <td>{{ panier.getIdProduit().getNom() }} </td>
                                <td>{{ panier.quantite }}</td>
                                <td>{{ panier.total }}</td>
                               
                                
           
                            </tr>

                            

                            
                            {% endfor %}
                        </tbody>

                        <tr>
                            <td colspan="2" class="text-right"><strong>Total:</strong></td>
                            <td class="text-right">{{ sommeTotal }} €</td>
                        </tr>
                        
                    </table>
                </div>
            </div>
        </div>
    </div>
  
</body>
</html>
